<!DOCTYPE html>
<html>
<head>
	<title>Carnivore simulater</title>
	
	<!-- CSS -->
	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/my-custom-styles.css" rel="stylesheet" type="text/css">
	<!-- IE 9 Fallback-->
	<!--[if IE 9]>
		<link href="{{ STATIC_URL }}css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300' rel='stylesheet' type='text/css'>
	
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/repute57x57.png">
	<link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	{% block js_block %} {% endblock %}

</head>

<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				<!-- TOPBAR -->
				<div class="topbar">
					<ul class="list-inline top-nav">
						<li><a href="#">Help</a></li>
						<li><a href="#">Support</a></li>
					</ul>
					<div class="searchbox">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" placeholder="search ...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</div>
				</div>
				<!-- END TOPBAR -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" class="navbar-brand navbar-logo navbar-logo-bigger">
						<img src="{{ STATIC_URL }}img/logo/repute-logo-nav2.png" alt="Repute - Responsive Multipurpose Bootstrap Theme">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block title %}{{ category_name }}{% endblock %}
</a>
						</li>
						<!--<li><a href="page-contacts.html">CONTACTS</a></li>-->
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- BREADCRUMBS -->
		<div class="page-header">
			<div class="container">
				<h1 class="page-title pull-left">{% block mainHeader %}{% endblock %}</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
				</ol>
			</div>
		</div>
		<!-- END BREADCRUMBS -->
		<!-- PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<section>
            {% block body_block %}{% endblock %}
					<br>
					<br>
				</section>
				<!-- END TESTIMONIAL -->
				<hr class="margin-bottom-50px">
				<!-- OUR CLIENTS -->
				
			</div>
		</div>
		<!-- END PAGE CONTENT -->
		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h3 class="sr-only">ABOUT US</h3>
						<img src="{{ STATIC_URL }}img/logo/repute-logo-light.png" class="logo" alt="Repute">
						<p>Proactively aggregate B2B initiatives before extensive channels. Monotonectally extend interactive methods of empowerment through excellent applications. Rapidiously synergize visionary products with sticky technology.</p>
						<br>
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								<li>1234 North Main Street
									<br/> New York, NY 222222</li>
								<li>Phone: (1800) 765 - 4321</li>
								<li>Email: email@yourdomain.com</li>
							</ul>
						</address>
						<!-- END COLUMN 1 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<h3 class="footer-heading">USEFUL LINKS</h3>
						<div class="row margin-bottom-30px">
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">About Us</a></li>
									<li><a href="#">News</a></li>
									<li><a href="#">Community</a></li>
									<li><a href="#">Career</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">Press Kit</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<!-- END COLUMN 2 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 3 -->
						<div class="newsletter">
							<h3 class="footer-heading">NEWSLETTER</h3>
							<p>Get the latest update from us by subscribing to our newsletter.</p>
							<form class="newsletter-form" method="POST">
								<div class="input-group input-group-lg">
									<input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
									<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
									</span>
								</div>
								<div class="alert"></div>
							</form>
						</div>
						<div class="social-connect">
							<h3 class="footer-heading">GET CONNECTED</h3>
							<ul class="list-inline social-icons">
								<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<!-- END COLUMN 3 -->
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2015 The Develovers. All Rights Reserved.
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	
	<!-- JAVASCRIPTS -->
	<script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/slick/slick.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="{{ STATIC_URL }}js/repute-scripts.js"></script>
	
</body>
</html>