<!DOCTYPE html>
<html>
    <head>
        <title>Lion prides</title>
    </head>

    <body>
        <h1>List of lion prides</h1>

        {% if prides %}
        <table border="1">
            <tr>
                <td>ID </td>
                <td>Name </td>
                <td>Pos x </td>
                <td>Pos y </td>
                <td>Alive </td>
            </tr>
            <tr>
                {% for pride in prides %}
                <!-- Following line changed to add an HTML hyperlink -->
                <td>{{ pride.id }} </td>
                <td>{{ pride.name }} </td>
                <td>{{ pride.posx }} </td>
                <td>{{ pride.posy }} </td>
                <td>{{ pride.alive }} </td>


            </tr>
                {% endfor %}
       {% else %}
            <strong>There are no lion prides present.</strong>
       {% endif %}
   </table>
    </body>
</html>